*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background-color: #2a2c2d;
  padding: 20px 15px 15px 10px;
}

@media (max-width: 840px) {
  .app {
    flex-direction: column-reverse;
    align-items: center;
  }
}
